body {
    font-family: Arial, sans-serif;
    background-color: #f6faf6;
    justify-content: center;
    height: 100vh;
}

#heading {
    text-align: center;
    margin-top: 5%;
}


.container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 40%;
    display: grid;
    margin: 0 auto;
    border: 3px solid rgb(25, 235, 46);
    box-shadow: 0 0 30px rgba(69, 111, 69, 0.5);




}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgb(25, 235, 46);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* border-color: black; */
}

button:hover {
    background-color: #54d836;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}